.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.colorCard {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #282c34;
  margin: 10px;
}
.cardWrapper {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}
.flash.flash {
  // animation: flash 1s infinite;
  // background-color: black;
  border: 3px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}
.startButton {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #61dafb;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.red {
  background-color: red;
  &.flash {
    background-color: rgb(255, 125, 125);
  }
}
.blue {
  background-color: blue;
  &.flash {
    background-color: rgb(125, 125, 255);
  }
}
.green {
  background-color: green;
  &.flash {
    background-color: rgb(125, 255, 125);
  }
}
.yellow {
  background-color: yellow;
  &.flash {
    background-color: rgb(255, 255, 125);
  }
}

.score {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
}
